<div ng-include="'components/navbar/navbar.html'">
</div>

<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 id="panel-title" class="panel-title">Upload Contract</h3>
    </div>
    <div class="panel-body">
      <h4>Upload file</h4>
      <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="*/*" ngf-max-height="1000" ngf-max-size="1MB" ng-disabled="disableButtons">
        Select File</button>
      <br/>
      <br/>
      <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
          <!--<div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>-->
          <progressbar class="progress-striped active" value="f.progress">{{f.progress}}%</progressbar>
        </span>{{errorMsg}}
      </div>
    </div>
  </div>
  <div class="panel panel-success" ng-show="newContracts">
    <div class="panel-heading">
      <h3 id="panel-title" class="panel-title">Recently uploaded</h3>
    </div>
    <div class="panel-body">
      <!--<textarea ng-readonly="true" wrap="soft" class="form-control" style="min-width: 100%" rows="20">{{compiledCode | json}}</textarea>-->
      <table class="table">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>ABI</th>
          <th>Create</th>
        </thead>
        <tbody>
          <tr ng-repeat="contract in newContracts">
            <td>{{contract.id}}</td>
            <td>{{contract.name}}</td>
            <td>{{contract.abi}}</td>
            <td>
              <button ng-click="createContract(contract.id)" ng-disabled="disableButtons">
                Create Contract
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br/>
      <br/>
    </div>
  </div>
  <span us-spinner spinner-key="contract-spin"></span>
  <div class="panel panel-info" ng-show="contracts">
    <div class="panel-heading">
      <h3 id="panel-title" class="panel-title">Uploaded contracts</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>ABI</th>
          <th>Create</th>
        </thead>
        <tbody>
          <tr ng-repeat="contract in contracts">
            <td>{{contract._id}}</td>
            <td>{{contract.name}}</td>
            <td>{{contract.abi}}</td>
            <td>
              <button ng-click="createContract(contract._id)" ng-disabled="disableButtons">
                Create Contract
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br/>
      <br/>
    </div>
  </div>
</div>