<div ng-include="'components/navbar/navbar.html'">
</div>

<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 id="panel-title" class="panel-title">Upload Contract</h3>
    </div>
    <div class="panel-body">
      <div style="position:relative;">
        <a class='btn btn-success' href='javascript:void(0);'>
			   Choose File...
			   <input type="file" nv-file-select="" uploader="uploader" class="upload-panel" ng-disabled="disableButtons">
        </a>  &nbsp;
        <span class='label label-success'>{{fileName}}</span>
      </div>
      <progressbar ng-show="uploader.progress >= 0" class="progress-striped active" type="success" value="uploader.progress" style="margin-top:10px">{{uploader.progress}}%</progressbar>
    </div>
  </div>
  <span us-spinner spinner-key="contract-spin"></span>
  <div class="panel panel-info" ng-show="contracts">
    <div class="panel-heading">
      <h3 id="panel-title" class="panel-title">Uploaded Contracts</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>ABI</th>
          <th>Instances</th>
          <th>Create</th>
        </thead>
        <tbody>
          <tr ng-repeat="contract in contracts">
            <td>{{contract._id}}</td>
            <td>{{contract.name}}</td>
            <td>{{contract.abi}}</td>
            <td><a href="/instances?id={{contract._id}}">Instances</a></td>
            <td>
              <button ng-click="createContract(contract._id)" ng-disabled="disableButtons">
                Create Contract
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br/>
      <br/>
    </div>
  </div>
</div>