<div ng-include="'components/navbar/navbar.html'" />

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 id="panel-title" class="panel-title">Contract Instances for <b>"{{contractName}}"</b></h3>
				</div>
				<div class="panel-body">
					<span us-spinner spinner-key="contract-spin"></span>
					<table class="table table-condensed">
						<thead>
							<th>ID</th>
							<th>Address</th>
							<th>TxHash</th>
							<th>Create Time</th>
							<th>Call</th>
						</thead>
						<tbody>
							<tr style="word-break:break-all;" ng-repeat="instance in instances">
								<td>{{instance._id}}</td>
								<td>{{instance.address}}</td>
								<td>{{instance.transactionHash}}</td>
								<td>{{instance.timestamp}}</td>
								<td>
									<span class="dropdown">
										
										<a href="" class="dropdown-toggle clear">
											Call
										</a>
										<ul class="dropdown-menu" dropdown-menu>
											<li ng-repeat="method in methods"> 
												<a ng-click="callMethodModal(instance._id, method)"><b><span ng-show="{{method.isConstant}}">Constant</span><span ng-show="{{!method.isConstant}}">Mutable</span></b> {{method.name}}() <b><span ng-show="{{method.isConstructor}}">constructor</span></b></a>
											</li>
										</ul>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>